<%- include('partials/_header') %>

  <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="/naxos409/1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="/naxos409/2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/naxos409/3.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="w-50 p-0 card-img-overlay button">
    <button><a href="/" ><img class="w-25 p-0" src="icon-back.png"></a></button>
  </div>

    <div class="model2 ml-4 mr-4 mt-2">
      <% data.forEach((propiedad,index) => {%>
        <% if (propiedad.propiedad == 'Ciudad Jardin') { %>
          <tr>  
            <h3 class="fs-6" ><%= propiedad.titulo %></h3>
            <h6 class="fs-1">Loft entero en <%= propiedad.propiedad %>, Barranquilla</h6>
            <h6><%= propiedad.huespedes %> - <%= propiedad.habitacion %> - <%= propiedad.camas %> - <%= propiedad.bano %></h6>
          </tr>
          
          <hr />  
          <h6 class='texto-apoyo'>Dónde vas a dormir ?</h6>
          
          <div class='camas'>
            <div class="contenedor-camas d-flex">
              <div class="info-camap p-2">
                <h6>Habitación</h6>
                <p>1 cama queen</p>
              </div>
              <div class="info-cama p-2">
                <p class="fw-bold">Sala</p>
                <p>1 sofá cama</p>
              </div>
            </div>
          </div>
          
          <hr />
          <div class="amenidades">
            <h6 class='texto-apoyo'>Lo que este lugar ofrece</h6>
            <ul class='formato-amenid'>
              <li class='titulo-amenidades'>Dormitorio y Lavadero</li>
              <li class='texto-amenid'>Lavadora en la vivienda: Gratis</li>
              <li class='texto-amenid'>Secadora en la vivienda: Gratis</li>
              <li class='texto-amenid'>Ganchos para la ropa</li>
              <li class='texto-amenid'>Sábanas</li>
              <li class='texto-amenid'>Almohadas y mantas</li>
              <li class='texto-amenid'>Plancha</li>
              <li class='texto-amenid'>Espacio para guardar ropa: Armario</li>
              
              <li class='titulo-amenidades'>Entretenimiento</li>
              <li class='texto-amenid'>Conexión Ethernet</li>
              <li class='texto-amenid'>Televisor de alta definición Smart TV</li>
              <li class='texto-amenid'>Gimnasio</li>
              <li class='texto-amenid'>Piscina</li>
              
              <li class='titulo-amenidades'>Refrigeración</li>
              <li class='texto-amenid'>Sistema de aire acondicionado tipo split</li>
              <li class='texto-amenid'>Ventiladores portátiles</li>
              
              <li class='titulo-amenidades'>Internet y oficina</li>
              <li class='texto-amenid'>Wifi</li>
              <li class='texto-amenid'>Zona de trabajo</li>
              
              <li class='titulo-amenidades'>Cocina</li>
              <li class='texto-amenid'>Refrigerador</li>
              <li class='texto-amenid'>Utensilios básicos para cocinar</li>
              <li class='texto-amenid'>Platos y cubiertos</li>
              <li class='texto-amenid'>Lavavajillas</li>
              <li class='texto-amenid'>Estufa a gas</li>
              <li class='texto-amenid'>Horno</li>
              <li class='texto-amenid'>Cafetera</li>
              <li class='texto-amenid'>Tostadora</li>
              <li class='texto-amenid'>Licuadora</li>
              
              <li class='titulo-amenidades'>Instalaciones y Servicios</li>
              <li class='texto-amenid'>Cerradura inteligente</li>  
              <li class='texto-amenid'>Estacionamiento gratuito</li>
              <li class='texto-amenid'>Balcón privado</li>
              <li class='texto-amenid'>Ascensor</li>
              <li class='texto-amenid'>Se permiten mascotas</li>
              <li class='texto-amenid'>Disponible para estadías largas</li>
              <li class='texto-amenid'>Llegada autónoma</li>
              <br /> <br />
            </ul>
            
          </div>
          
          <% } %>
          <% }); %>
        </div>
        
      </body>
      </html>